<a href="https://colab.research.google.com/github/JKJ0918/pythonStudy24/blob/master/dictionaryType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**딕셔너리 자료형**

사람은 누구든지 "이름" = "홍길동", "생일" = "몇 월 며칠" 등과 같은 방식으로 그 사람이 가진 정보를 나타낼 수 있다. 파이썬은 영리하게도 이러한 대응 관계를 나타낼 수 있는 딕셔너리(dictionary) 자료형을 가지고 있다.

딕셔너리는 Key와 Value를 한 쌍으로 가지는 자료형이다.

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.
baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.

In [1]:
# 딕셔너리 생성
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [3]:
# 딕셔너리 생성
a = {1: 'hi'}
b = {'a': [1, 2, 3]} # Value에 리스트 삽입 가능
print(a)
print(b)

{1: 'hi'}
{'a': [1, 2, 3]}

In [5]:
# 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[5] = 'ohh'
print(a)

{1: 'a', 5: 'ohh'}

In [6]:
# 딕셔너리 쌍 추가하기 2
a['name'] = 'pey'
print(a)

{1: 'a', 5: 'ohh', 'name': 'pey'}

In [7]:
# 딕셔너리 요소 삭제하기
del a[1] # key 값이 1 인 요소 삭제 됨
print(a)

{5: 'ohh', 'name': 'pey'}

In [8]:
# 딕셔너리에서 Key를 사용해 Value 얻기
mapleUnionLevel = {'비숍' : 275, '섀도어' : 281, '아란' : 290}
mapleUnionLevel['비숍']

275

In [9]:
# 딕셔너리 만들 때 주의할 사항 1
a = {1:'a', 1:'b', 1:'c'}
a # key가 중복되었을 때 1개를 제외한 나머지 Key: Value 값이 모두 무시

{1: 'c'}

In [10]:
# 딕셔너리 만들 때 주의할 사항 2
a = {[1,2] : 'hi'}
# Key에 리스트는 쓸 수 없다
# 리스트는 그 값이 변할 수 있기 때문에 Key로 쓸 수 없다

TypeError: unhashable type: 'list'

In [11]:
# Key 리스트 만들기 - keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys() # 딕셔너리 a의 Key만을 모아 dict_keys 객체를 리턴한다

dict_keys(['name', 'phone', 'birth'])

In [24]:
for k in a.keys():
...    print(k)

name
phone
birth

In [15]:
# Key 리스트 만들기 - values
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [16]:
# Key, Value 쌍 얻기 - items
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [17]:
# Key: Value 쌍 모두 지우기 - clear
a.clear()
a

{}

In [19]:
# Key로 Value 얻기 - get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name') # >> 'pey'
a.get('phone')

'010-9999-1234'

In [22]:
# 존재하지 않는 키로 값을 가져올 경우
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

a['nokey'] # >> 에러 발생

print(a.get('nokey')) # >> None(거짓) 을 리턴

KeyError: 'nokey'

In [ ]:
# 딕셔너리 안에 찾으려는 Key가 없을 경우, 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때
a.get('nokey', 'foo')
# 딕셔너리 a에는 'nokey'에 해당하는 Key가 없다. 따라서 디폴트 값인 'foo'를 리턴

In [23]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a # 있을 경우 true / 없을 경우 false 반환

True