<a href="https://colab.research.google.com/github/JKJ0918/pythonStudy24/blob/master/listType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

테이블 자료처리 : 각각의 객체를 모아서 처리하는 용도


*   리스트 자료형
*   튜플 자료형
*   딕셔너리 자료형
*   집합 자료형

In [1]:
# 리스트 자료형 : 대괄호 이용하여 감싸고 쉼표로 요소를 구분함.

odd = [1, 3, 5, 7, 9] # 자바에 배열과 유사하나 배열은 초기 행렬값을 갖는다.(배열의 크기조정 불가) -> arraylist

a = [] # 빈리스트 -> a = list() 도 생성 가능
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is'] # 혼합형 리스트
e = [1, 2, ['Life', 'is']] # 리스트의 리스트

In [5]:
# 리스트 인덱싱
a = [1, 2, 3]
print(a[0]) # a리스트에 0번 인덱스를 출력

1

In [7]:
a[0] + a[2]

4

In [9]:
a[-1] # 마지막 요소값

3

In [13]:
a = [1, 2, 3, ['a', 'b', 'c']]  # 2차원 배열
a[-1][0]                        # 2차원 배열을 출력하려면 [행][열]

'a'

In [16]:
# 3차원 배열 -> 사진이나 영상 처리, 게임 (가로, 세로 ->픽셀, 깊이 -> RGB 컬러)
MEMBER = [ ["강원기", ["교사",312]] ,["오한별", ["학생",312]] ,["신창섭", ["학생2",311]] ,["헤리슨", ["학생3",313]]]
MEMBER [1][1][1]

312

In [17]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [19]:
a[:2] # 처음부터 2번인덱스 전까지

[1, 2]

In [21]:
a[2:] # 2번부터 마지막 까지

[3, 4, 5]

In [27]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
a[2:5]
a[3][1:] # 미션 b, c 를 슬라이싱 해본다

['b', 'c']

In [29]:
# 리스트 연산 : +, * 를 활용할 수 있다.
a = [1, 2, 3]
b = [4, 5, 6]
a + b  # 문자열의 '+' 계산과 유사하다.

[1, 2, 3, 4, 5, 6]

In [31]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
# 리스트의 길이 구하기
len(a)

3

In [35]:
# 리스트에 글자 추가하기
a = [1, 2, 3]
a[2] + "hi" # 3hi ??????

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
str(a[2]) + "hi" # str(정수) -> 정수가 문자열로 변환 "3" + "hi"

'3hi'

In [47]:
# 리스트 값 수정, 삭제
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [48]:
del a[2] # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [44]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [45]:
# 리스트 관련 함수

# .append() : 이미 만들어진 리스트에 객체를 추가할때 (뒷쪽)
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [46]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [50]:
# sort() : 리스트 요소를 정렬 해준다.
a = [1, 4, 3, 2]
a.sort()  # 오름차순 정렬
a

[1, 2, 3, 4]

In [53]:
a.reverse()   # 내림차순 정렬
a

[4, 3, 2, 1]

In [63]:
a = [6, "엄복동", 'a', '@']
a.sort #  석어쓰면 정렬 안됨
a

[6, '엄복동', 'a', '@']

In [57]:
a.reverse
a

[6, '엄복동', 'a', '@']

In [60]:
b = ['z', 'b', 'd', 'g', 'k']
b.sort()
b

['b', 'd', 'g', 'k', 'z']

In [64]:
c = ["파이썬", "자바", "씨언어", "씨쁠쁠"]
c.sort()  # 한글 정렬이 됨
c

['씨쁠쁠', '씨언어', '자바', '파이썬']

In [66]:
# 인덱스 반환 .index(주소)

a = [1, 2, 3]
#    0  1  2 인덱스
a.index(3)

2

In [68]:
a.index(1)

0

In [69]:
a.index(4)

ValueError: 4 is not in list

In [71]:
#리스트에 요소 삽입 .insert(인덱스, 값)
a = [1, 2, 3]
a.insert(0, 4)    # 0번지에 4값을 추가하고, 기존 값은 인덱스가 밀림.
a

[4, 1, 2, 3]

In [80]:
a.insert(3,3) # 3번지에 5값을 추가하고 기존값은 인덱스가 밀림 (계속 집어넣을 수 있는 것을 확인)
a

[1, 2, 5, 3, 5, 5, 5]

In [81]:
a.remove(3) # .remove(값) 값이 제거된다.
a

[1, 2, 5, 5, 5, 5]

In [84]:
b = [3, 1, 3, 13, 1, 3, 1]
b.remove(3) # 3이 여러개 일대는 앞에 쪽에 있는 요소만 제거된다.
b

[1, 3, 13, 1, 3, 1]

In [85]:
b.remove(3)
b

[1, 13, 1, 3, 1]

In [86]:
# 리스트 요소 끄집어 내기 .pop(인덱스)

c = [1, 2, 3, 4, 5, 6]
c.pop()

6

In [87]:
c

[1, 2, 3, 4, 5]

In [88]:
c.pop(3)

4

In [90]:
c

[1, 2, 3, 5]

In [92]:
d = [3, 13, 13, 13, 33, 11, 3, 1, 3, 3, 1, 3]

d.count(3)  # 값이 몇개 인지

5

In [94]:
len(d)

12

In [98]:
# 리스트 확장 : extend(x) x는 리스트만 올수 있으며 a[] + x[]
e = [1,2,3]
e.extend([4,5])
e

[1, 2, 3, 4, 5]

In [99]:
f = [6, 7, 8]
e.extend(f)
e

[1, 2, 3, 4, 5, 6, 7, 8]