<a href="https://colab.research.google.com/github/JKJ0918/pythonStudy24/blob/master/practice0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 리스트 정렬하기
list = [20,40,30,70,90,10]
list.sort() # 오름차순 정렬
list.sort(reverse=True) # 내림차순 정렬
print(list)

[90, 70, 40, 30, 20, 10]

In [4]:
eng_scores = [ 100, 40, 70, 90, 60 ]
eng_scores.sort()
for i in range(-len(eng_scores), 0): # range(start, stop) start 부터 stop 바로 앞까지 숫자를 생성
	print(eng_scores[i],'(',i,')',end='\t')

40 ( -5 )	60 ( -4 )	70 ( -3 )	90 ( -2 )	100 ( -1 )

In [9]:
# 음식 찾기
foods = ['연어','삼겹살','LA갈비','살치살','꽃갈비살']
food = input('찾을 음식 입력 : ')
dish = foods.index(food) # *index 함수는 배열에서 값의 위치를 찾아주는 함수
print(food + '음식의 위치는' + str(dish + 1 ) + '번 위치에 있습니다.')
# str 파이썬에서 서로 다른 데이터 타입을 연결할 때, 타입 변환이 필요
# dish + 1은 숫자(int 타입). 반면 ' 음식의 위치는 ' 같은 문자열(str 타입)과
# 숫자를 + 연산으로 연결하려고 하면, 파이썬은 숫자와 문자열을 직접 연결할 수 없어서 에러가 발생함

찾을 음식 입력 : 연어
연어음식의 위치는1번 위치에 있습니다.

In [14]:
# 리스트에 중복된 값을 제거하는 방법 - set -
lst = ['새우','가자미','연어','도다리','고양이','호랑이','새우']
a = set(lst)
print(a)

{'고양이', '새우', '연어', '가자미', '호랑이', '도다리'}