<a href="https://colab.research.google.com/github/JKJ0918/pythonStudy24/blob/master/setType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

집합 자료형

집합(set)은 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.

In [1]:
# 집합 자료형 생성
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [7]:
s2 = set("Hello")
s2 # {'H', 'e', 'l', 'o'}
# 중복을 허용하지 않는다.
# 순서가 없다(Unordered).
# set은 데이터의 중복을 제거하기 위한 필터로 종종 사용

{'H', 'e', 'l', 'o'}

In [8]:
# set 자료형 인덱싱 접근은
# 리스트나 튜플로 변환한 후에 해야 함
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [9]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [10]:
t1[0]

1

In [13]:
# 교집합 구하기_&
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [14]:
# 교집합 구하기_intersection
s1.intersection(s2)

{4, 5, 6}

In [15]:
# 합집합 구하기_|
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
# 합집합 구하기_union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
# 차집한 구하기_-
s1 - s2 # {1, 2, 3}
s2 - s1 # {7, 8, 9}

{7, 8, 9}

In [20]:
# 차집합 구하기_difference
s1.difference(s2) # {1, 2, 3}
s2.difference(s1) # {7, 8, 9}

{7, 8, 9}

In [22]:
# 값 1개 추가하기_ add
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [23]:
# 여러 개의 값을 한꺼번에 추가(update)
s1 = set([1, 2, 3])
s1.update([4, 5, 6, 7, 9, 15])
s1

{1, 2, 3, 4, 5, 6, 7, 9, 15}

In [24]:
# 특정 값 제거하기 _ remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}